<h1> Veuillez confirmer votre adresse mail </h1>
<h2> Mme, Mr </h2>
<p> On vous envoie ce mail aujourd'hui afin de confirmer votre inscription à EDUCAPP </p>
<h6> CONFIRMEZ VOTRE INSCIPTION EN UN SEUL CLICK</h6>
<p>
    Confirmez votre email en suivant ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien va s'expirer dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bienvenue à EDUCAPP!
</p>
