<h1>Salut! S'il vous plait confirmez votre adresse mail</h1>

<p>
    Clickez ici pour confirmer votre adresse mail: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer Mon Email</a>.
    La session va expirer dans {{ expiresAt|date('g') }} minute(s).
</p>

<p>
    Cheers!
</p>