<<<<<<< HEAD
<h1>Salut! S'il vous plait confirmez votre adresse mail</h1>

<p>
    Clickez ici pour confirmer votre adresse mail: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer Mon Email</a>.
    La session va expirer dans {{ expiresAt|date('g') }} minute(s).
=======
<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAt|date('g') }} hour(s).
>>>>>>> a7c45923a7d8dc09346915264934b22b0081650d
</p>

<p>
    Cheers!
</p>