{% extends 'base-front.html.twig' %}

{% block title %}Ajouter nouvelle reclamation{% endblock %}

{% block body %}
    <h1>Déposer votre réclamation</h1>

    {{ include('reclamation/_form.html.twig') }}
    <button class="btn-outline-primary" type="submit">
        <a href="{{ path('reclamation_index') }}">Afficher la liste des reclamations</a>
    </button>
{% endblock %}