
<p>
<<<<<<< HEAD
    Pour changer votre mot de passe s'il vous plâit clickez:
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ICI</a>
=======
    To reset your password, please visit
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">here</a>
>>>>>>> a7c45923a7d8dc09346915264934b22b0081650d
    This link will expire in {{ tokenLifetime|date('g') }} hour(s)..
</p>

<p>
    Cheers!
</p>