{% extends 'forgot-password.html' %}

{% block title %}Modifier Votre Mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Changer votre mot de passe </h1>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <div>
        <small>
            Entrez votre adresse mail et vous aurez un link qui vous dérigera par la suite!
        </small>
    </div>

    <button class="btn btn-primary">Envoyer un mail pour changer votre Mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}