{% extends 'base.html.twig' %}

{% block title %}Modifier le type de vos ressources {% endblock %}

{% block body %}
    <h1>Modifier le type de vos ressources</h1>

    {{ include('type_ressource/_form.html.twig', {'button_label': 'Update'}) }}
<button type="submit">
    <a href="{{ path('type_ressource_index') }}">Afficher la liste de ressources</a>
</button>
    {{ include('type_ressource/_delete_form.html.twig') }}
{% endblock %}
