{% extends 'base.html.twig' %}

{% block title %}Ajouter un type de ressource {% endblock %}

{% block body %}
    <h1>Ajouter un type de ressource</h1>

    {{ include('type_ressource/_form.html.twig') }}
<button type="submit">
    <a href="{{ path('type_ressource_index') }}">Afficher la liste des types de ressources</a>
</button>
{% endblock %}
