{% extends 'base-front.html.twig' %}

{% block title %}AJOUTER UNE PARTICIPATION{% endblock %}

{% block body %}
    <h1>Ajouter une participation</h1>

    {{ include('participation/_form.html.twig') }}
<button type="submit">

    <a href="{{ path('participation_index') }}">Afficher la liste des participations</a>
</button>
{% endblock %}
