{% extends 'base-front.html.twig' %}

{% block title %}Nouvelle Session{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle session</h1>

    {{ include('session/_form.html.twig') }}
<button type="submit">
    <a href="{{ path('session_index') }}">Afficher la liste des sessions</a>
</button>
{% endblock %}
