<<<<<<< HEAD
{% extends 'base.html.twig' %}
=======
{% extends 'base-front.html.twig' %}
>>>>>>> a7c45923a7d8dc09346915264934b22b0081650d

{% block title %}Ajouter un Nouveau Candidat{% endblock %}

{% block body %}
    <h1>Ajouter un candidat</h1>

    {{ include('candidat/_form.html.twig') }}
<button type="submit">
    <a href="{{ path('candidat_index') }}">Afficher la liste des candidats</a>
</button>
{% endblock %}
