<form method="post" action="{{ path('formateur_delete', {'id': formateur.id}) }}" onsubmit="return confirm('Êtes vous sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formateur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
