{% extends 'base-front.html.twig' %}

{% block title %}Nouveau Formateur{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau formateur</h1>

    {{ include('formateur/_form.html.twig') }}
<button type="submit">
    <a href="{{ path('formateur_index') }}">Consulter la liste des formateurs</a>
</button>

{% endblock %}
