{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}
<<<<<<< HEAD
    <button type="submit">
        <a href="{{ path('user_index') }}">Afficher la liste des utilisateurs</a>
    </button>
=======
<button type="submit">
    <a href="{{ path('user_index') }}">Afficher la liste des utilisateurs</a>
</button>
>>>>>>> a7c45923a7d8dc09346915264934b22b0081650d
{% endblock %}
