<h1>Demande d'enseignement</h1>
<p>A qui le droit,</p>
<p>Nous ésperons que vous allez bien.<br>
    On tiens par le biais de ce mail à vous informer qu'un nouvel call <br>
    afin de chercher des enseignents est ouvert.</p>
<p>Nom de la demande : {{ data.nomDemande}}</p>
<p>Contenu de la demande : {{ data.descriptionDemande}}</p>
<p>Url: <address>
    <a href="http://127.0.0.1:8000/participation/new">Cliquer ici</a></address> afin de postuler.</p>