{% extends 'base-front.html.twig' %}

{% block title %}Déposer un CompteRendu{% endblock %}

{% block body %}
    <h1>Déposer un nouveau CompteRendu</h1>

    {{ include('compte_rendu/_form.html.twig') }}
<button type="submit">
    <a href="{{ path('compte_rendu_index') }}">Afficher la liste des comptes rendus </a>
</button>
{% endblock %}
